#!/bin/bash

#build arg string as $@ does not tolerate qoutes
ARG_STRING=""
for arg_num in $(seq 1 $#)
do
	ARG_STRING="$ARG_STRING ${!arg_num}"
done

echo $ARG_STRING
#output should be echo \"\"help \\\"\"\"

eval $(basename "$0") '$ARG_STRING' | lolcat
